<!DOCTYPE html>
<html
      xmlns="http://www.w3.org/1999/xhtml"
      prefix="og: http://ogp.me/ns#"
>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Symfony Blog Bundle{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}
</head>
<body>
    <div role="main" id="main-content">
        {% block body %}{% endblock %}
    </div>
    {% block script %}{% endblock %}
</body>
</html>
