services:
  Happyr\WordpressBundle\Api\WpClient:
    arguments: ['@Psr\Http\Client\ClientInterface', '@Psr\Http\Message\RequestFactoryInterface', '%happyr_wordpress.remote_url%']

  Happyr\WordpressBundle\Parser\MessageParser:
    arguments: [!tagged happyr_wordpress.parser.page, !tagged happyr_wordpress.parser.menu, !tagged happyr_wordpress.parser.media, !tagged happyr_wordpress.parser.category]

  Happyr\WordpressBundle\Service\Wordpress:
    arguments: ['@Happyr\WordpressBundle\Api\WpClient', '@Happyr\WordpressBundle\Parser\MessageParser',  ~, ~]

  Happyr\WordpressBundle\Twig\WordpressExtension:
    arguments: ['@Happyr\WordpressBundle\Service\Wordpress']
    tags:
      - { name: twig.extension }

  Happyr\WordpressBundle\Service\LocalImageUploader:
    arguments: [~, ~]


  # ---- Parsers ----

  Happyr\WordpressBundle\Parser\RewriteLinks:
    arguments: ['%happyr_wordpress.remote_url%', '@router']
    tags: ['happyr_wordpress.parser.page']

  Happyr\WordpressBundle\Parser\RewriteImageReferences:
    arguments: ['%happyr_wordpress.remote_url%', ~]
    tags: ['happyr_wordpress.parser.page']

  Happyr\WordpressBundle\Parser\RewriteUrls:
    arguments: ['%happyr_wordpress.remote_url%', '@router']
    tags: ['happyr_wordpress.parser.page']
