parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Instantiated class Twig_SimpleFunction not found\\.$#"
			count: 4
			path: src/Twig/WordpressExtension.php

		-
			message: "#^Method Happyr\\\\WordpressBundle\\\\Twig\\\\WordpressExtension\\:\\:getFunctions\\(\\) should return array\\<Twig\\\\TwigFunction\\> but returns array\\<int, Twig_SimpleFunction\\>\\.$#"
			count: 1
			path: src/Twig/WordpressExtension.php

